/* Global styling */
* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: #FFFFFF;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100vw;
}

#App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

#landing {
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 2rem;
}

#header {
  z-index: 10;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 1rem 0 1rem;
  width: auto;
  height: 55px;
}

#logo {
  padding: 0 .25rem;
  font-weight: bold;
}

.container {
  justify-content: space-around;
}

.glassmorphism {
  background: rgba( 205, 236, 241, 0.75 );
  box-shadow: 0 10px 10px -4px rgba(105, 139, 145, 0.5);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.37);
}

.box-style {
  height: 500px;
}

#title {
  z-index: 1;
  width: auto;
  padding: 1rem;
  margin: 0 1rem;
}

#title-text {
  font-size: 1.75rem;
  margin-bottom: .5rem;
}

#subtitle-text {
  font-weight: normal;
  font-style: italic;
}

#summary-model-container {
  width: auto;
  margin: 0 1rem;

}
#summary-container {
  z-index: 1;
  padding: 1rem;
  overflow-y: hidden;
  flex: 1 1 calc(50% - .5rem); 
}

#summary-content {
  flex: 1 1 auto; 
  overflow-y: auto;
  scrollbar-color: #707070 #B2B2B2;
  scrollbar-width: thin;
}

#summary-content h3{
  margin-bottom: .5rem;
}

.summary-abstract {
  margin-bottom: .5rem;
}

.summary-url {
  margin-bottom: .5rem;
  text-decoration: underline;
}

.summary-citation {
  margin-bottom: .5rem;
}

.summary-doi {
  font-style: italic;
  margin-bottom: .5rem;
}

#model {
  padding: 1rem;
  justify-content: flex-start;
  flex: 1 1 calc(50% - .5rem); 
}

#data-frame-container {
  margin: 0 1rem;
  padding: 1rem;
  width: auto;
  height: 700px;
  border-radius: 10px;
}

/* might not be necessary */
#viz-container {
  z-index: 1;
  justify-content: space-between;
  height: 100%;
  width: auto;
}

#viz-frame {
  width: 50%;
  height: 625px;
  gap: 0px;
}

#viz-sidebar {
  width: 5%;
  height: 100%;
  justify-content: space-between;
}

.viz-sidebar-button {
  border-radius: 0 10px 10px 0;
  border: 0px;
  padding: .25rem 0 0 0;
  font-size: 1.5rem;
  text-align: center;
  height: 2.5rem;
  width: 2.5rem;
}

.viz-sidebar-button:hover {
  border-radius: 0 10px 10px 0;
  border: 0px;
  background-color:#808080;
}

.viz-sidebar-button:disabled {
  border-radius: 0 10px 10px 0;
  border: 0px;
  color: rgb(255, 255, 255);
  background-color:#6d6d6d;
  cursor: default;
}

.viz-sidebar-button:disabled:hover {
  border-radius: 0 10px 10px 0;
  border: 0px;
  background-color:#6d6d6d;
  cursor: default;
}

#viz-settings-container {
  width: 50%;
  height: 100%;
  justify-content: flex-start;
}

#graph-container {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
  max-width: 95%;
}

#table-container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 95%;
  overflow-x: auto;
  scrollbar-color: #707070 #B2B2B2;
  scrollbar-width: thin;
}

#table-container table {
  padding: 1rem;
  height: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

#table-container th {
  /* Apply both top and bottom borders to the <th> */
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
}

#table-container td {
  /* For cells, apply the border to one of each side only (right but not left, bottom but not top) */
  border-bottom: 2px solid;
  border-right: 2px solid;
}

#table-container th:first-child,
#table-container td:first-child {
  /* Apply a left border on the first <td> or <th> in a row */
  border-left: 2px solid;
}

#table-container tr {
  background-color: white;
  border: 2px solid;
}

#table-container th, td {
  background-color: white;
  padding: .7rem;
}

#table-container th {
  position: sticky;
  top: 0;
}

.rc-table {
  width: 100%;
  height: 100%;
}

#notfound-container {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
}

#footer-text {
  font-size: 0.75rem;
  margin: 0;
}

#searchbar {
  max-height: calc(min(800px, 80vh));
  width: 800px;
  min-width: 20%;
  max-width: 80%;
  z-index: 10;
  gap: 5px;
  justify-content: flex-start;
  flex-shrink: 2;
}

.landing-search {
  min-height: 600px;
}

#searchbar-input-container {
  flex-shrink: 0;
  border: 0px;
  border-radius: 10px;
  color: black;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

#search-icon {
  font-size: 1.5rem;
  color: #505050;
}

.small-searchbar {
  height: 55px;
}

#searchbar-input {
  flex-grow: 1;
  background: transparent;
  border: 0px;
  padding: .5rem;
  height: 100%;
  border-radius: 10px;
  color: black;
}

#num-results {
  font-size: .75rem;
  white-space: nowrap;
  margin: 0;
  padding: 0 1rem;
  justify-self: flex-end;
  align-self: center;
}

#clear-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #505050;
  justify-self: flex-end;
}

#searchbar-input:focus {
  outline: none;
}

#search-result-container {
  z-index: 10;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-color: #707070 #B2B2B2;
  scrollbar-width: thin;
}

.search-result {
  z-index: 10;
  text-align: left;
  width: 100%;
  padding: 1rem;
  color: black;
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  border-top: 2px solid #50505050;
}

.search-result-title {
  font-weight: bold;
}

.search-result-snippet {
  font-style: italic;
  color:rgb(138, 138, 138)
}

.search-snippet-highlight {
  font-weight: 200;
  color:rgb(0, 0, 0)
}

.search-result > p {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.search-result:hover {
  background: rgba(162, 220, 230, 0.55);
  border-top: 2px solid #50505050;
}

.search-result:focus {
  background: rgba(162, 220, 230, 0.55);
  border-top: 2px solid #50505050;
}

.hidden {
  display: none;
  z-index: -1000;
}

/* multiselect-react-dropdown */
.multiSelectContainer { 
  width: 100%;
  background-color: white;
}

#search_input {
  width: fit-content;
  color: black;
}

.optionContainer {
  scrollbar-color: #707070 #B2B2B2;
  scrollbar-width: thin;
}