/* Global styling */
* {
  font-family: 'Chivo Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100vw;
  text-align: center;
}

#App {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
}

.flex-col {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: .5rem;
  z-index: 1;
}

#header {
  justify-content: space-between;
}

#container-1 {
  justify-content: space-between;
}

#container-2 {
  justify-content: space-between;
}