/* Global styling */
* {
  font-family: 'Chivo Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100vw;
}

#App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  z-index: 1;
}

#header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.container {
  justify-content: space-around;
  padding: 0 1rem;
}

.box-style {
  background: rgba( 34, 34, 34, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(112, 112, 112, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: 500px;
}

#title {
  width: 100%;
  padding: .5rem;
  background: rgba( 34, 34, 34, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#title-text {
  font-size: 1.75rem;
  margin-bottom: .5rem;
}

#subtitle-text {
  font-weight: normal;
  font-style: italic;
}

#summary-container {
  padding: .5rem;
  overflow-y: hidden;
  flex: 1 1 calc(50% - .5rem); 
}

#summary-content {
  flex: 1 1 auto; 
  overflow-y: scroll;
}

#summary-content p {
  margin-bottom: 1rem;
}

#model {
  padding: .5rem;
  flex: 1 1 calc(50% - .5rem); 
}

#graph-container {
  padding: .5rem;
  width: 100%;
  max-height: 500px;
  border-radius: 10px;
}

#footer-text {
  font-size: 0.75rem;
  margin: 0;
}