#title {
  z-index: 1;
  width: auto;
  padding: 1rem;
  margin: 0 1rem;
}

#title-text {
  font-size: 1.75rem;
  margin-bottom: .5rem;
}

#subtitle-text {
  font-weight: normal;
  font-style: italic;
}