#model {
  padding: 1rem;
  justify-content: flex-start;
  flex-grow: 0; 
  flex-shrink: 1;
  width: 50%;
}

#model-file-container {
  z-index: -1;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #707070 #B2B2B2;
  scrollbar-width: thin;
}

#model-file-container span {
  font-family: 'Roboto Mono', monospace;
}

.model-image {
  width:100%;
  height:100%;
  object-fit: contain;
}

.linenumber {
  user-select: none;
  -webkit-user-select: none;
}

#model-file-container:hover .copy-button {
  display: block;
}

.copy-button {
  background-color:rgba(94, 108, 110, 0.75);
  display:none;
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
}