#summary-model-container {
  width: auto;
  margin: 0 1rem;
}

#summary-container {
  z-index: 1;
  padding: 1rem;
  overflow-y: hidden;
  flex: 1 1 calc(50% - .5rem); 
}

#summary-content {
  flex: 1 1 auto; 
  overflow-y: auto;
  scrollbar-color: #707070 #B2B2B2;
  scrollbar-width: thin;
}

#summary-content h3{
  margin-bottom: .5rem;
}

.summary-abstract {
  margin-bottom: .5rem;
}

.summary-url {
  margin-bottom: .5rem;
  text-decoration: underline;
}

.summary-citation {
  margin-bottom: .5rem;
}

.summary-doi {
  font-style: italic;
  margin-bottom: .5rem;
}