#data-frame-container {
  margin: 0 1rem;
  padding: 1rem;
  width: auto;
  height: 700px;
  border-radius: 10px;
}

/* might not be necessary */
#viz-container {
  z-index: 1;
  justify-content: space-between;
  height: 100%;
  width: auto;
}

#viz-frame {
  width: 50%;
  height: 625px;
  gap: 0px;
}

#viz-sidebar {
  width: 5%;
  height: 100%;
  justify-content: space-between;
}

.viz-sidebar-button {
  border-radius: 0 10px 10px 0;
  border: 0px;
  padding: .25rem 0 0 0;
  font-size: 1.5rem;
  text-align: center;
  height: 2.5rem;
  width: 2.5rem;
}

.viz-sidebar-button:hover {
  border-radius: 0 10px 10px 0;
  border: 0px;
  background-color:#808080;
}

.viz-sidebar-button:disabled {
  border-radius: 0 10px 10px 0;
  border: 0px;
  color: rgb(255, 255, 255);
  background-color:#6d6d6d;
  cursor: default;
}

.viz-sidebar-button:disabled:hover {
  border-radius: 0 10px 10px 0;
  border: 0px;
  background-color:#6d6d6d;
  cursor: default;
}

#viz-settings-container {
  width: 50%;
  height: 100%;
  justify-content: flex-start;
}

#graph-container {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
  max-width: 95%;
}

#table-container {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 95%;
  overflow-x: auto;
  scrollbar-color: #707070 #B2B2B2;
  scrollbar-width: thin;
}

#table-container table {
  padding: 1rem;
  height: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

#table-container th {
  /* Apply both top and bottom borders to the <th> */
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
}

#table-container td {
  /* For cells, apply the border to one of each side only (right but not left, bottom but not top) */
  border-bottom: 2px solid;
  border-right: 2px solid;
}

#table-container th:first-child,
#table-container td:first-child {
  /* Apply a left border on the first <td> or <th> in a row */
  border-left: 2px solid;
}

#table-container tr {
  background-color: white;
  border: 2px solid;
}

#table-container th, td {
  background-color: white;
  padding: .7rem;
}

#table-container th {
  position: sticky;
  top: 0;
}

.rc-table {
  width: 100%;
  height: 100%;
}

#notfound-container {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
}