dash   
dash-html-components                                         
dash-core-components                                     
dash-bootstrap-components
h5py
htmldom
jupyterlab
pathlib
plotly
numpy
matplotlib
openai
pandas
requests
requests-html
tellurium
typing
whoosh
