dash   
dash-html-components                                         
dash-core-components                                     
dash-bootstrap-components
h5py
htmldom
jupyterlab
nose
pathlib
plotly
numpy
matplotlib
openai
pandas
requests
requests-html
tabulate
tellurium
tempdir
typing
whoosh
